<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> <%= title %> </title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-blue-200" >
        <header class="text-gray-600 body-font">
            <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
              <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <span class="ml-3 text-2xl px-3 py-3 font-bold text-2xl">ScheduleEase</span>
              </a>
              <nav class="md:ml-auto flex flex-wrap  gap-4 items-center text-base justify-center">
                <a  class="text-xl bg-green-500 text-white rounded px-2" href="/">Home </a>
              </nav>
            </div>
        </header>
           
  <div class="relative mx-auto mb-8 w-fit">
            <% if(messages && messages.error && messages.error.length > 0)  { %>
               <% for(var i=0; i<messages.error.length; i++) { %>
                    <br>   <li class="text-white rounded px-40 py-4 bg-red-500"> <%= messages.error[i] %></li>
               <% } %>
             <% } %>
          </div>
  <div class="relative flex min-h-screen flex-col justify-center overflow-hidden py-6 ">
    <div class="relative bg-gray-200 px-6 pb-5 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
        <div class="mx-auto max-w-md">
            <h2 class="text-2xl  text-center font-bold my-5"> Signup To Create New Account
                
            </h2>
           
            <div class="divide-y  divide-gray-300/50">
                <div class="space-y-6 text-base leading-7 text-ray-600">
                    <form action="/newaccount" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <label for="firstName" class="text-md w-40 inline-block font-medium leading-5 text-gray-700">
                           First Name
                        </label>
                        <input required type="text" id="firstName" name="firstName" class="bg-gray-100 inline-block rounded-lg shadow-md py-3 px-4 mb-5 text-base leading-6 placeolder-gray-500" placeholder="Enter First Name" required><br/>
                        <label for="lastName" class="text-md w-40 inline-block font-medium leading-3 text-gray-700">Last Name</label>
                        <input required type="text" id="lastName" name="lastName" class="bg-gray-100 inline-block rounded-lg shadow-md py-3 px-4 mb-5 text-base leading-6 placeolder-gray-500" placeholder="Enter Last Name"><br/>
                        <label for="email" class="text-md w-40 inline-block font-medium leading-5 text-gray-700">
                          Email
                       </label>
                       <input required type="email" id="name" name="email" class="bg-gray-100 inline-block rounded-lg shadow-md py-3 px-4 mb-5 text-base leading-6 placeolder-gray-500" placeholder="Enter Email" required><br/>
                       <label for="password" class="text-md w-40 inline-block font-medium leading-3 text-gray-700">Password</label>
                       <input required type="password" id="password" name="password" class="bg-gray-100 inline-block rounded-lg shadow-md py-3 px-4 mb-5 text-base leading-6 placeolder-gray-500" placeholder="Enter Password"><br/>
                        <button type="submit" id="submit" class="w-fit rounded-lg shadow-lg px-5 py-3 bg-green-500 text-white hover:bg-green-400 focus:outline-none focus block">Submit</button>
                        
                    </form>

                </div>
                
            </div>
        </div>
    </div>
</div>
</body>
</html>